{% extends "aecon/dashboard-base.html" %}
{% load staticversion %}
{% load client_tags %}
{% block content %}

<style>

    .cluster{
        cursor:pointer;
    }
    .icon-toggle{
        cursor:pointer;
    }


    .noselect {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
    }

</style>


<input hidden value="{{location.id}}" id="location_id">

<div id="graph-limit-popup" style="width:240px" class="conduit-popup">
    <div class="conduit-selectable-menu  multi">
        <ul >
             <li data-limit="600" data-text-low="Low Flow" data-text-high="Active Flow" data-col="rgba(44, 168, 54, .4)" data-col-low="rgba(44, 168, 54, .4)" data-col-high="rgba(214, 162, 17, .5)" class="menu-item popup-item" >
                <a href="#" class="selectable-menu-item">
                    <i ></i>
                    <span >Low Flow</span>
                </a>
            </li>

            <li data-limit="1200" data-text-low="Active Flow" data-text-high="High Flow" data-col="rgba(255, 0, 0, .4)" data-col-high="rgba(255, 0, 0, .4)" data-col-low="rgba(214, 162, 17, .5)" class="menu-item popup-item">
                <a href="#"  class="selectable-menu-item">
                    <i ></i>
                    <span>High Flow</span>
                </a>
            </li>
        </ul>
    </div>
</div>


<div id="classes-popup" style="width:auto;" class="conduit-popup">
    <div class="conduit-selectable-menu multi">
        {{ classes | safe}}
    </div>
</div>



<div id="directions-popup" style="width:auto;" class="conduit-popup" >
    <div class="conduit-selectable-menu min-1" data-header="directions-header">
        {{ directions | safe}}
    </div>
</div>



<div id="subview-selector-popup" style="width:180px" class="conduit-popup">
    <div class="conduit-selectable-menu  min-1" data-header="subview-selector">
        <ul >
             <li id="graph" class="menu-item popup-item">
                <a href="/aecon/redirect?view=19" class="selectable-menu-item selected ">
                    <i ></i>
                    <span >Graph View</span>
                </a>
            </li>

            <li id="7day" class="menu-item popup-item">
                <a href="/aecon/redirect?view=17" class="selectable-menu-item">
                    <i ></i>
                    <span>List View</span>
                </a>
            </li>


        </ul>
    </div>
</div>


<div id="period-selector-popup" style="width:180px" class="conduit-popup">
    <div class="conduit-selectable-menu  min-1" data-header="period-selector">
        <ul >
             <li id="60" class="menu-item popup-item" data-offset="4">
                <a href="#" class="selectable-menu-item selected ">
                    <i ></i>
                    <span >60 Minutes</span>
                </a>
            </li>
            <li id="30" class="menu-item popup-item" data-offset="2">
                <a href="#" class="selectable-menu-item">
                    <i ></i>
                    <span>30 Minutes</span>
                </a>
            </li>
            <li id="15" class="menu-item popup-item" data-offset="1">
                <a href="#" class="selectable-menu-item">
                    <i ></i>
                    <span>15 Minutes</span>
                </a>
            </li>
        </ul>
    </div>
</div>




<div class="row align-items-center"  style="height:50px">
    <div class="col-12 my-auto d-flex align-items-center">
        <div class="selection-header subview-selector-popup-trigger"><span>Graph View</span><i class="chevron-icon"></i></div>
        <div class="topbar__item" data-toggle="tooltip" onclick="startFactoringProcess();" data-placement="left" title = "{% factoring_status %}" id="" style="margin-left:auto"><span><i class="icon-cloud-computing-3"></i></span></div>
        {% comment %} <div class="topbar__item events-popup-trigger opens-left" id="events" style=""><span><i class="icon-internet"></i></span></div> {% endcomment %}
    </div>
</div>

<div class="row" style="height:calc(100% - 65px)">
    <div  id="main-container-greyed-out" class="d-none" style="position:absolute;width:calc(100% - 300px);height:calc(100% - 105px);z-index:401;opacity:0.9;background-color:#fcfcfc;"></div>
    <div class="col-4 h-100">

        <div class=" d-flex flex-column align-items-center justify-content-center w-100" style="height:60px;font-size:1.2rem" id="temp-header">
            <div>Temporary Sensors</div>
            <div class="d-flex align-items-center justify-content-center date-display">
                <div class="topbar__item" onclick="decrementTemp();"> <i class="fa fa-caret-left pull-right mx-auto"></i></div>
                <div class="date w-auto" data-site="1647-WTR_Site01">Aylesbury - Old Brewery Close</div>
                <div class="topbar__item" onclick="incrementTemp();"> <i class="fa fa-caret-right pull-right mx-auto"></i></div>
            </div>
        </div>

        <div class="row" style="height:calc(100% - 60px)">
            <div class="col-12" style="height:32%">
                <div class="card header-shadow h-100 w-100"  data-group="atc-volumes-daily">
                    <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>
                    <div class="card-header blank ">
                        Weekday Average
                    </div>
                    <div class="card-body h-100 p-0">
                        <div class="canvaswrapper">
                            <canvas id="temp-1" style="height:100%">

                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="height:32%">
                <div class="card header-shadow" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                    <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>
                    <div class="card-header blank ">
                        Saturday
                    </div>
                    <div class="card-body h-100 p-0">
                        <div class="canvaswrapper">
                            <canvas id="temp-2" style="height:100%">

                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="height:32%">
                <div class="card header-shadow" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                    <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>
                    <div class="card-header blank ">
                        Sunday
                    </div>
                    <div class="card-body h-100 p-0">
                        <div class="canvaswrapper">
                            <canvas id="temp-3" style="height:100%">

                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="col-2 pl-0 pr-0">
        <div class=" d-flex align-items-center justify-content-center w-100" style="height:40px;font-size:1.2rem">
            Clustering
        </div>

        <div class="row align-items-center" style="height:calc(100% - 40px)">
            <div class="col-12" style="height:33%;font-size:35px">


                <div class="row h-100">
                    <div class="col-4 pr-0 h-50 align-self-center">
                        <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>

                        <div class=" cluster noselect card header-shadow align-items-center justify-content-center" data-max="4" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                            <div class="clustervalue" style="font-size:35px" data-max="4">2</div>
                        </div>
                    </div>
                    <div class="col-4 h-50 align-self-center d-flex align-items-center justify-content-center icon-toggle">
                        <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>

                        <div class="clustervalue">
                            <i class="fas fa-equals" style="font-size:30px;color:green" data-alt="fas fa-not-equal" data-alt-col="red"></i>
                        </div>
                    </div>

                    <div class="col-4 pl-0 h-50 align-self-center">
                        <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>

                        <div class="cluster noselect card header-shadow align-items-center justify-content-center" data-max="4" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                            <div class="clustervalue" style="font-size:35px" data-max="3">3</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12" style="height:33%">
                <div class="row h-100">
                    <div class="col-4 pr-0 h-50 align-self-center">
                        <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>

                        <div class="cluster noselect card header-shadow align-items-center justify-content-center" data-max="3" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                            <div class="clustervalue" style="font-size:35px" data-max="3">1</div>
                        </div>
                    </div>
                    <div class="col-4 h-50 align-self-center d-flex align-items-center justify-content-center icon-toggle">
                        <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>

                        <div class="clustervalue">
                            <i class="fas fa-equals" style="font-size:30px;color:green" data-alt="fas fa-not-equal" data-alt-col="red"></i>
                        </div>
                    </div>

                    <div class="col-4 pl-0 h-50 align-self-center">
                        <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>

                        <div class="cluster noselect card header-shadow align-items-center justify-content-center" data-max="3" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                            <div class="clustervalue" style="font-size:35px" data-max="3">1</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="height:33%">
                <div class="row h-100">
                    <div class="col-4 pr-0 h-50 align-self-center">
                        <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>

                        <div class="cluster noselect card header-shadow align-items-center justify-content-center" style="width:100%;height:100%" data-max="3"  data-group="atc-volumes-daily">
                            <div class="clustervalue" style="font-size:35px" data-max="3">3</div>
                        </div>
                    </div>
                    <div class="col-4 h-50 align-self-center d-flex align-items-center justify-content-center icon-toggle">
                        <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>

                        <div class="clustervalue">
                            <i class="fas fa-equals" style="font-size:30px;color:green" data-alt="fas fa-not-equal" data-alt-col="red"></i>
                        </div>
                    </div>

                    <div class="col-4 pl-0 h-50 align-self-center">
                        <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>

                        <div class="cluster noselect card header-shadow align-items-center justify-content-center" style="width:100%;height:100%" data-max="3" data-group="atc-volumes-daily">
                            <div class="clustervalue" style="font-size:35px" >1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-6 h-100">
        <div class=" d-flex flex-column align-items-center justify-content-center w-100" style="height:60px;font-size:1.2rem" id="perm-header">
            <div>Permanent Sensors</div>
            <div class="d-flex align-items-center justify-content-center date-display w-100">
                <div class="topbar__item" onclick="decrementPerm();"> <i class="fa fa-caret-left pull-right mx-auto"></i></div>
                <div class="date w-auto" data-site="Birmingham_Barclaycard_Arena">Birmingham - Barclaycard Arena</div>
                <div class="topbar__item" onclick="incrementPerm();"> <i class="fa fa-caret-right pull-right mx-auto"></i></div>
            </div>
        </div>

        <div class="row" style="height:calc(100% - 60px)">
            <div class="col-6" style="height:32%">
                <div class="card header-shadow" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                    <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>
                    <div class="card-header blank ">
                        Weekday Average Over Survey Period
                    </div>
                    <div class="card-body h-100 p-0">
                        <div class="canvaswrapper">
                            <canvas id="perm-1" style="height:100%">

                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6" style="height:32%">
                <div class="card header-shadow" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                    <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>
                    <div class="card-header blank ">
                        Full Weekday Average
                    </div>
                    <div class="card-body h-100 p-0">
                        <div class="canvaswrapper">
                            <canvas id="perm-4" style="height:100%">

                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6" style="height:32%">
                <div class="card header-shadow" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                    <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>
                    <div class="card-header blank ">
                        Saturday Average Over Survey Period
                    </div>
                    <div class="card-body h-100 p-0">
                        <div class="canvaswrapper">
                            <canvas id="perm-2" style="height:100%">

                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6" style="height:32%">
                <div class="card header-shadow" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                    <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>
                    <div class="card-header blank ">
                        Full Saturday Average
                    </div>
                    <div class="card-body h-100 p-0">
                        <div class="canvaswrapper">
                            <canvas id="perm-5" style="height:100%">

                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6" style="height:32%">
                <div class="card header-shadow" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                    <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>
                    <div class="card-header blank ">
                        Sunday Average Over Survey Period
                    </div>
                    <div class="card-body h-100 p-0">
                        <div class="canvaswrapper">
                            <canvas id="perm-3" style="height:100%">

                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6" style="height:32%">
                <div class="card header-shadow" style="width:100%;height:100%"  data-group="atc-volumes-daily">
                    <div class="greyed-out justify-content-center align-items-center show"> <img src ="{% staticversion 'aecon/small_loading.gif' %}" class="loading-img" data-greyed-out="atc-basic-overview"></div>
                    <div class="card-header blank " >
                        Full Sunday Average
                    </div>
                    <div class="card-body h-100 p-0">
                        <div class="canvaswrapper">
                            <canvas id="perm-6" style="height:100%">

                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}



{% block js %}
<script>
var graphLabels = ["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00", "00:00"];
var charts = []
for(var i=1;i<4;i++){
    chart = createLineChart(document.getElementById("temp-" + i),{"labels":graphLabels,"datasets":[]});
    charts.push(chart);
}


for(var i=1;i<7;i++){
    chart = createLineChart(document.getElementById("perm-" + i),{"labels":graphLabels,"datasets":[]});
    charts.push(chart);
}




function viewSite(id){
    var temp = document.getElementById(id).classList.contains("temp");
    var ele = document.getElementById(id);
    var block = ele.parentNode.parentNode.parentNode.id;
    var block = document.querySelectorAll("[data-target='#"+ block +  "']")[0];
    var area = block.getElementsByTagName("span")[0].innerText;
    var siteName = ele.getElementsByTagName("span")[0].innerText;
    if (temp){
        console.log("setting temp site data attribute to",id);
        document.getElementById("temp-header").getElementsByClassName("date")[0].setAttribute("data-site",id);
        document.getElementById("temp-header").getElementsByClassName("date")[0].innerText = area + " - " + siteName;
    }
    else{
        document.getElementById("perm-header").getElementsByClassName("date")[0].setAttribute("data-site",id);
        document.getElementById("perm-header").getElementsByClassName("date")[0].innerText = area + " - " + siteName;
    }
    getData();
    getClusteringFromServer();
}

function buildGraphLabels(){

}


function cycle(ele){
    console.log("ele is",ele);
    var max = parseInt(ele.getAttribute("data-max"));
    var val = parseInt(ele.getElementsByTagName("div")[0].innerText);
    val = val + 1;
    if (val > max){
        val = 1;
    }
    ele.getElementsByTagName("div")[0].innerText = val;
}


function updateDatasets(){
    for(var i=0;i<charts.length;i++){
        charts[i].destroy();
    }
    charts = []
    var temp = document.getElementById("temp-header").getElementsByClassName("date")[0].getAttribute("data-site");
    var perm = document.getElementById("perm-header").getElementsByClassName("date")[0].getAttribute("data-site");
    tempData = retrievedData.data[temp];
    console.log("temp data is",tempData);
    for(var i=1;i<4;i++){
        var selectedData = tempData.directions[2].baseData[i-1];
        var selectedClassVolumes = [];
        selectedData.forEach(function(item){
            selectedClassVolumes.push(item.data);
        });
        var result = selectedClassVolumes.reduce(sumOfDatasets);
        console.log("result is",result);
        dataset = {"label":"","borderColor":"blue",
                                "data":result,"fill":false,"pointRadius":0,"borderWidth":1}
        chart = createLineChart(document.getElementById("temp-" + i),{"labels":graphLabels,"datasets":[dataset]});
        charts.push(chart);
    }

    permData = retrievedData.data[perm];
    for(var i=1;i<7;i++){
        var selectedData = permData.directions[2].baseData[i-1];
        var selectedClassVolumes = [];
        selectedData.forEach(function(item){
            selectedClassVolumes.push(item.data);
        });
        var result = selectedClassVolumes.reduce(sumOfDatasets);
        console.log("result is",result);
        dataset = {"label":"","borderColor":"red",
                                "data":result,"fill":false,"pointRadius":0,"borderWidth":1}
        chart = createLineChart(document.getElementById("perm-" + i),{"labels":graphLabels,"datasets":[dataset]});
        charts.push(chart);
    }

}


function getData(){
    console.log("getting data");

    dataRetrievalActive = true;
    var ids = [];
    var temp = document.getElementById("temp-header").getElementsByClassName("date")[0].getAttribute("data-site");
    var perm = document.getElementById("perm-header").getElementsByClassName("date")[0].getAttribute("data-site");
    var ids = [temp,perm];
    //setTimeout(function(){dataRetrievalActive = false;hideAllGreyedOut();},1000);
    var greyed = document.getElementsByClassName("greyed-out");
        for (var i=0;i<greyed.length;i++){
            showGreyedOut(greyed[i]);
        }
    var formData = new FormData();
    formData.append("ids",JSON.stringify(ids));
    formData.append("factoring","true");
    formData.append("customRange","true");
    formData.append("table","true");
    // dummy dates as we are reusing code on the back end, but dont need to provide dates here
    formData.append("startDate","2020-01-01 00:00");
    formData.append("endDate","2020-01-01 00:00");
    formData.append("resultType","counts");
    formData.append("period",document.getElementById("period-selector-popup").getElementsByClassName("selected")[0].parentNode.id);
    fetcher(formData,"getCRTStyleData",function(response){
        console.log("received response",response);
        retrievedData = response.data;
        updateDatasets();
        hideAllGreyedOut();
        return;
        document.getElementById("classes-popup").getElementsByClassName("conduit-selectable-menu")[0].innerHTML = response.classes;
        document.getElementById("events-container").innerHTML = response.data.events;
        setPopupListeners(document.getElementById("classes-popup"));
        var items = document.getElementById("classes-popup").getElementsByClassName("menu-item");
        for(var i=0;i<items.length;i++){
            //console.log("in inline script, setting up click listener for",items[i]);
            items[i].addEventListener("click",function(){displayCountlineTable();updateDatasets();});
        }
        retrievedData = response.data;
        graphLabels = response.data.graphLabels;
        setUpChart();
        displayCountlineTable();
        updateDatasets();
        updateMap();
        hideAllGreyedOut();
        dataRetrievalActive = false;
        }

    );

}



function getClusteringFromPage(){
    clustering = [];
    var eles = document.getElementsByClassName("clustervalue");
    for(var i=0;i<eles.length;i++){
        if (eles[i].getElementsByTagName("i").length){
            //console.log("ele is",eles[i]);
            clustering.push(eles[i].getElementsByTagName("i")[0].classList.contains("fa-equals"));

        }
        else{
            clustering.push(eles[i].innerText);
        }

    }
    return clustering;
}

function setClusteringOnPage(data){
    clustering = [];
    var eles = document.getElementsByClassName("clustervalue");
    for(var i=0;i<eles.length;i++){
        console.log("looking at",eles[i],data[i]);
        if (eles[i].getElementsByTagName("i").length){
            if((data[i] && !eles[i].getElementsByTagName("i")[0].classList.contains("fa-equals")) ||
            (!data[i] && eles[i].getElementsByTagName("i")[0].classList.contains("fa-equals"))){
                IconToggle(eles[i]);
            }


        }
        else{
            eles[i].innerText = data[i];
        }

    }
    return clustering;
}



function getClusteringFromServer(){
    var temp = document.getElementById("temp-header").getElementsByClassName("date")[0].getAttribute("data-site");
    var perm = document.getElementById("perm-header").getElementsByClassName("date")[0].getAttribute("data-site");
    var ids = [temp,perm];
    var greyed = document.getElementsByClassName("greyed-out");
        for (var i=0;i<greyed.length;i++){
            showGreyedOut(greyed[i]);
        }
    var formData = new FormData();
    formData.append("ids",JSON.stringify(ids));

    fetcher(formData,"getClustering",function(response){
        console.log("received response of clusters",response);
        setClusteringOnPage(response.data);
        //hideAllGreyedOut();


        }

    );
}

function saveClustering(ele){
    clustering = getClusteringFromPage();
    console.log("clustering is",clustering);
    var temp = document.getElementById("temp-header").getElementsByClassName("date")[0].getAttribute("data-site");
    var perm = document.getElementById("perm-header").getElementsByClassName("date")[0].getAttribute("data-site");
    var ids = [temp,perm];
    var greyed = document.getElementsByClassName("greyed-out");
        for (var i=0;i<greyed.length;i++){
            showGreyedOut(greyed[i]);
        }
    var formData = new FormData();
    formData.append("ids",JSON.stringify(ids));
    formData.append("clustering",JSON.stringify(clustering));
    fetcher(formData,"saveClustering",function(response){
        console.log("received response",response);
        hideAllGreyedOut();
        return;
        document.getElementById("classes-popup").getElementsByClassName("conduit-selectable-menu")[0].innerHTML = response.classes;
        document.getElementById("events-container").innerHTML = response.data.events;
        setPopupListeners(document.getElementById("classes-popup"));
        var items = document.getElementById("classes-popup").getElementsByClassName("menu-item");
        for(var i=0;i<items.length;i++){
            //console.log("in inline script, setting up click listener for",items[i]);
            items[i].addEventListener("click",function(){displayCountlineTable();updateDatasets();});
        }
        retrievedData = response.data;
        graphLabels = response.data.graphLabels;
        setUpChart();
        displayCountlineTable();
        updateDatasets();
        updateMap();
        hideAllGreyedOut();
        dataRetrievalActive = false;
        }

    ).catch(function(err){
        console.log("ok good catch");
        alert(err.message);
        window.location.href = "/aecon/dashboard";
    });

}

function incrementTemp(){
    var current = document.getElementById("temp-header").getElementsByClassName("date")[0].getAttribute("data-site");
    var permSites = document.getElementById("Classified_Countssubmenu").getElementsByClassName("temp");
    for (var i=0;i<permSites.length;i++){
        if(current == permSites[i].id){
            break;
        }

    }
    i = i+1;
    if (i >= permSites.length){
        i = 0;
    }
    viewSite(permSites[i].id);
}


function decrementTemp(){
    var current = document.getElementById("temp-header").getElementsByClassName("date")[0].getAttribute("data-site");
    var permSites = document.getElementById("Classified_Countssubmenu").getElementsByClassName("temp");
    for (var i=0;i<permSites.length;i++){
        if(current == permSites[i].id){
            break;
        }

    }
    i = i-1;
    if (i < 0){
        i = permSites.length-1;
    }
    viewSite(permSites[i].id);
}


function incrementPerm(){
    var current = document.getElementById("perm-header").getElementsByClassName("date")[0].getAttribute("data-site");
    console.log("current site is",current);
    var permSites = document.getElementById("Classified_Countssubmenu").getElementsByClassName("perm");
    for (var i=0;i<permSites.length;i++){
        if(current == permSites[i].id){
            break;
        }

    }
    i = i+1;
    if (i >= permSites.length){
        i = 0;
    }
    viewSite(permSites[i].id);
}


function decrementPerm(){
    var current = document.getElementById("perm-header").getElementsByClassName("date")[0].getAttribute("data-site");
    var permSites = document.getElementById("Classified_Countssubmenu").getElementsByClassName("perm");
    for (var i=0;i<permSites.length;i++){
        if(current == permSites[i].id){
            break;
        }

    }
    i = i-1;
    if (i < 0){
        i = permSites.length-1;
    }
    viewSite(permSites[i].id);
}

function startFactoringProcess(){
    var formData = new FormData();
    fetcher(formData,"startFactoringProcess",function(response){
        console.log(response);
        alert("Factoring process successfully started");

    }).catch(function(err){
        alert(err.message);
    });

}

var eles = document.getElementsByClassName("cluster");
for(var i=0;i<eles.length;i++){
        eles[i].addEventListener("click",function(ele){
                                                return function(event){
                                                cycle(ele);
                                                saveClustering();
                                                }
                                            }(eles[i]));



}

var eles = document.getElementsByClassName("icon-toggle");
for(var i=0;i<eles.length;i++){
        eles[i].addEventListener("click",function(ele){
                                                return function(event){
                                                saveClustering(ele);
                                                }
                                            }(eles[i]));



}
document.getElementById("sidebar").classList.add("multi");
pinSideBar();
getData();
getClusteringFromServer();

</script>


{% endblock %}