<!DOCTYPE html>
<html lang="en">
  <head>
    <style></style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-159283885-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-159283885-1");
    </script>

    <!-- Required meta tags -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% load staticversion %}
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{% staticversion 'aecon/generic-styles.css' %}"
      type="text/css"
    />

    <title>Tracsis AECON </title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>

    <div
      class="container-fluid"
      id="full-image-container"
      style="background-image: url({% staticversion background_image %})"
    >
      <div class="row align-items-center" style="height: 100%; width: 100%">
        <div id="logon-box" class="container-fluid">
          <div class="m-auto text-center pt-4">
            <img
              alt="centered image"
              src="{% staticversion 'aecon/conduit_logo_color.png' %}"
              style="width: 100%; height: 50%"
            />
          </div>

          <div
            class="row align-items-center justify-content-center my-4"
            style="height: calc(100% - 160px)"
          >
            <div class="col-12">
              <form
                method="post"
                id="resetform"
                style="color: #c9c9d2"
              >
                {%csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <div class="px-3">
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      aria-describedby="emailHelp"
                      placeholder="New Password"
                      name="Password"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      id="confirmpassword"
                      placeholder="Confirm New Password"
                      name="ConfirmPassword"
                    />
                  </div>
                  <div
                    class="text-left my-2"
                    style="color: red"
                    id="CheckPasswordMatch"
                  ></div>
                  <div class="form-group">
                    <button
                      class="btn btn-primary mb-2"
                      id="reset-button"
                      style="width: 100%"
                      type="submit"
                      form="logon-form"
                      onclick="checkPasswordMatch()"
                    >
                      Change Password
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function checkPasswordMatch() {
        var password = $("#password").val();
        var confirmPassword = $("#confirmpassword").val();
        if (password != confirmPassword){
          $("#CheckPasswordMatch").html("Passwords and Confirm Password does not match!");
        }
        else if(password.length < 6 ) {
          $("#CheckPasswordMatch").html("Password must be at least 6 characters long!");
        }
        else {
          $("#CheckPasswordMatch").html("");
          $.ajax({
            url:'reset_password',
            data: $('#resetform').serialize(),
            type:'POST',
            dataType: 'json',
          })
          .done(function(data){
            if (data['status']=="error")
            {
              alert(data['message']);
            }
            else if (data['status']=="success") {
              alert(data['message']);
              window.location.href = "/aecon";
            }
          })
          .fail(function(error){
            alert("Network Error");
          });
        }
      }
    </script>
  </body>
</html>
