<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/aecon/cv2-base.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<button id="averages-popup-trigger" class="popup-menu-selection-header averages-popup-trigger">Press me</button>

<button class="popup-menu-selection-header averages-popup-trigger">Press me weeeeeee</button>

<div id="averages-popup" class="conduit-popup">
    <div class="conduit-popup-menu  multi">
        <ul >
             <li id="5day" class="popup-menu-item">
                <a href="#" class="selected">
                    <i ></i>
                    <span >5 Day Average</span>
                </a>
            </li>
            <li id="7day" class="popup-menu-item">
                <a href="#" >
                    <i ></i>
                    <span >7 Day Average</span>
                </a>
            </li>


        </ul>
    </div>
</div>

</body>

<script src="/static/aecon/cv2-base.js" ></script>
</html>